body {
    padding-top: 60px;
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #F07022;
}

.container {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-header, .footerIcon, .welcomeTitle {
    text-align: center;
}

.navbar-fixed-bottom {
    height: 40px;
}

.footerIcon {
    font-size: 30px;
}

h1 {
   font-family: 'Fanwood Text', serif; 
}

small, p, ul, li, a, h2, h3, h4, h5, h6, form {
    font-family: 'Lato', sans-serif;
}

.navbar, .nav.navbar-nav.navbar-right li a, .navbar-toggle, .navbar-default .navbar-brand {
    font-family: 'Lato', sans-serif;
    background-color: #97DEF9;
    color: #000000;
    border: none;
}

footer, .footerIcon a {
    font-family: 'Lato', sans-serif;
    color: #000000;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

small {
    color: #000000;
}

.welcomeBody {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-fluid.footer {
    background-color: #E0FCFF;
}

.classProjectMobileNav, .resumeSubtitle, .blogSubtitle {
    text-align: center;
}

.whiteText{
    color: #FFFFFF;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #FFFFFF;
    background-color: #50B8D9;
}

.item {
    height: 25%;
}

.img-responsive {
    margin: 0 auto;
}

.contactIcon, .contactIcon a:link, .contactIcon a:visited {
    font-size: 60px;
    text-align: center;
    color: #000000;
}

.contactBody {
    font-size: 25px;
    color: #000000;
    text-decoration: none;
}

.centerAlignText {
    text-align: center;
}